.container {
    display: flex;
    width: 100%;
    min-height: 700px;
    background-color: rgb(28, 27, 27);
    color: #fff;
    flex-direction: column;
    align-items: center;
}

.title-area {
    width: 100%;
    display: flex;
    justify-content: center;
}

.title {
    text-align: center;
}

.long-dash {
    width: 60px;
    height: 6px;
    border-radius: 9px;
    background-color: orange;
    margin-top: 20px;
    justify-self: center;
}

.coffee-list-area {
    width: 90%;
    display: flex;
    justify-content: start;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;

}

.coffee-card {
    width: 120px;
}


.coffee-img {
    width: 100px;
}