body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100vh;
}
.shop-title {
    color: white;
    cursor: pointer;
}

.header {
    display:flex ;
    justify-content: space-between ;
    background-color: rgb(95, 32, 32);
    padding: 0 150px;
    align-items: center;
}
.list-menu {
    display: flex;
    color: white;
    
}
.list-menu > li {
    margin-left: 30px;
    list-style-type: none;
}
.list-menu > li > a {
    color: white;
    text-decoration: none;
}

.list-menu > li > a:hover {
    color: yellow;
}
