.container {
    display: flex;
    width: 100%;
    height: 700px;
    background-color: rgb(28, 27, 27);
    color: #fff;
    flex-direction: column;
    align-items: center;
}

.title-area {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title {
    text-align: center;
}

.long-dash {
    width: 60px;
    height: 6px;
    border-radius: 9px;
    background-color: orange;
    justify-self: center;
}

.main-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 100%;
}

.splide {
    width: 100%;
    height: 70%;
}

.splide__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.splide-img {
    width: 200px;
    border-radius: 100%;
}

.p-area {
    width: 300px;
}
